<footer>
        <div class="footer-content">
            <h3>WeatherCast</h3>
            <p>WeatherCast is a nodejs website where you can check climate condition of a location.</p>
            <ul class="socials">
                <li><a href="https://twitter.com/mandaliyakunal"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/kunal-mandalya-2a778b147/"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <h4>copyright &copy; <a href="">Kunal Mandalya</a>  </h4>
        </div>

    </footer>